[data-headline-wrapper] {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

[data-headline] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

[data-headline-factor] {
  position: relative;
  transition: transform 800ms ease-out;
}

[data-headline-factor="-1"] {
  left: 10%;
}
